
<ul class="topnav">
  <li><a class="active" href="/">Home</a></li>
  <!-- <li><a href="#news">News</a></li> -->
  <li><a href="/admin/addProduct">Add Products</a></li>
  <li class="right"><a href="#Login">Login</a></li>
</ul>

